<div id="add_sidebar_folders">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form id="add_sidebar_folders" method="POST" accept-charset="UTF-8">
          <h2>Добавяне на нова папка</h2>
          <div class="form-group">
            <label for="folder_name">Име</label>
            <input type="text" id="folder_name" name="folder_name"class="form-control" placeholder="Моля въведете име" required autofocus>
          </div>
          <div class="form-group">
            <label for="access">Ниво на видимост:</label>
            <select class="form-control" id="access" name="access">
              <option value="0">Всички</option>
              <option value="1">Модератор</option>
              <option value="2">Админ</option>
            </select>
          </div>
          <button class="btn btn-md btn-primary btn-block" type="submit" name="add_sidebar_folder">Добави</button>
      </form>
    </div>
  </div>
</div>

